body{
    background-color: #0C134F;
    margin: 15px;
    border-color: rgb(138, 42, 42);
    color: #fbfbfb;

}
h2{
    font-size: 25px;
}

.container{
    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.container img{
   padding: 15px;
    width: 500px;
    align-self: flex-end;
}
.container h1{
    padding-top: 50px;
}
.button{
    background-color: #BFDCE5;
    padding: 14px 40px;
    border-radius: 8px;
    font-weight: bolder;
    color: #0C134F;

}
@media (max-width:600px){
        body{
            background-color: rgb(245, 180, 107);
        }
    .container{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
        }
        .container img {
            width: 200px;
            height: 200px;
        }
        .container h1{
        padding: 0;
        }
}
